<html>
<head>
		<title>Finstagram</title>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h1>Welcome, {{username}}</h1>
<img src="knight.png" alt="Failed to show image"><br>
<a href="/upload_image">Upload Photo</a>
<br>

<a href="/feed">View Feed</a>
<br>

<a href="/username">Search by Username</a>
<br>

<a href="/tagged">Search by Tag</a>
<br>

<a href="/followUser">Follow a User</a>
<br>

<a href="/followRequest">Incoming Follow Requests</a>
<br>

<br>
<br>
<br>

<a href="/logout">Logout</a>



</html>
